html{
background-color: black;
}

.button {
    background-color: rgb(255 193 5);
    border: none;
    border-radius: 5px;
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
}

.button:hover, .socialButton:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: 0.3s;
}

footer {
    background-color: #ffda01;
    width: 90%;
    height: 10%;
    margin: auto;
    bottom: 0;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.headerDiv {
    color: #dddddd;
    width: 90%;
    padding: 1% 2%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: #010101;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialDiv {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 22%;
}

.socialButton {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(3 127 217);
}

.logo {
    width: 180px;
    height: 140px;
}


.navbarDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 1%;
    overflow: visible;
}


.dropDownContent {
    display: none;
    position: absolute;
    background-color: #ffda01;
    min-width: 160px;
    box-shadow: 0 10px 20px 0 rgb(172, 157, 21);
    z-index: 1;
    border-radius: 5px;
}

.dropDownContent a {
    float: none;
    color: #030303;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.dropDown:hover .dropDownContent {
    display: block;
}


.renderDiv {
    overflow-x: scroll;
    min-height: 90vh;
    color: #dddddd;
    background-color: #010101;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}


table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #fffe9d;
    font-family: Arial, Helvetica, sans-serif;
}

table td, table th {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px;
}
.tableDiv{
    max-height: 40px;
    overflow: auto;
}

table tr:nth-child(even) {
    background-color: #fcfcfc;
}

.rowsToHover:hover {
    background-color: #ffda01;
    cursor: pointer;
    transform: scale(1.02);

}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ffc105;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
.inputContainer{
    margin:auto;
    width: 90%;
    padding-top: 3%;

}

.inputFieldsDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5%;
    margin-bottom: 5%;
}


.inputFieldTitle {
    color: #ffc105;
}
.inputField{
    background-color: #ffc105;
    text-align: center;
}

.inputSubmitButton{
    margin-left: 5%;
    margin-bottom: 1%;
    background-color: #ffc105;
}

.videoTag {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
}

.videoShadow{
    opacity: 0.4;
}

.focus-in-expand-fwd {
    -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.roll-in-top {
    -webkit-animation: roll-in-top 0.4s ease-out both;
    animation: roll-in-top 0.4s ease-out both;
}

@-webkit-keyframes roll-in-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-540deg);
        transform: translateY(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-top {
    0% {
        -webkit-transform: translateY(-800px) rotate(-540deg);
        transform: translateY(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}




